<mat-expansion-panel>

    <mat-expansion-panel-header>
        <mat-panel-title>
            <p class="title">
                {{entry?.title}}
            </p>
        </mat-panel-title>

        <p class="data">
            {{entry?.created_at?.substring(0,10)}}
        </p>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>

        <!-- Guide Infos -->
        <div *ngIf="entry?.guide_description">
            <h2>Guide</h2>
            <div *ngIf="entry?.guide_description" class="guide_desc">
                <p>{{entry?.guide_description}}</p>
            </div>
            <br>
            <hr><br>
        </div>

        <!-- Guide -->
        <div *ngIf="entry?.steps?.length!=0; else noSolutions">
            <h2>Tutorial</h2>

            <div *ngFor="let step of entry?.steps">
                <h3 style="font-weight: bold;">{{step?.step?.step_name}}</h3>
                <p *ngIf="step?.step?.step_description">{{step?.step?.step_description}}</p>
                <img *ngIf="step?.step?.step_image?.url" src={{step?.step?.step_image?.url}}>
            </div>
        </div>

        <ng-template #noSolutions>
            <h2>No guides available!</h2>
        </ng-template>

    </ng-template>
</mat-expansion-panel>