<div class="container d-flex justify-content-center flex-column align-items-center">

  <!-- <div class="welcome mt-5">
        <h1>WELCOME</h1>
    </div> -->

  <div class="main d-flex justify-content-around mt-5">
    <div class="cartao m-2 d-flex hover-shadow">
      <mat-card routerLink='guides'
        class="example-card bg-danger bg-gradient p-5 d-flex flex-column justify-content-around">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><i class="fas fa-book-open"></i></div>
          <mat-card-title>Guides</mat-card-title>
          <mat-card-subtitle>The best guides for angular!</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>

    <div class="cartao m-2 d-flex">
      <mat-card routerLink='errors'
        class="example-card bg-danger bg-gradient p-5 d-flex flex-column justify-content-around">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><i class="fas fa-exclamation-circle"></i></div>
          <mat-card-title>Error Mapping</mat-card-title>
          <mat-card-subtitle>The best map of errors for angular!</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>

</div>