<div class="container main">

    <mat-form-field class="example-form-field bg-gradient" appearance="fill" color="primary">
        <mat-label class="mat-input-label">Search</mat-label>
        <input class="mat-input" matInput type="text" [(ngModel)]="filter">
        <button *ngIf="filter" matSuffix mat-icon-button aria-label="Clear" (click)="filter=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <div *ngIf="filteredEntries.length!=0; else noEntries">
        <mat-accordion class="example-headers-align" multi='false'>
            <div *ngFor="let entry of filteredEntries">
                <app-entry-guide [entry]="entry"></app-entry-guide><br>
            </div>
        </mat-accordion>
    </div>

    <ng-template #noEntries>
        <div class="d-flex justify-content-center mt-3">
            <h1 class="nothing">No guides available!</h1>
        </div>
    </ng-template>

</div>