.main{
    padding-bottom: 50px;
    /* max-width: 600px; */
}

.example-form-field{
    width: 100%;
}

.mat-input-label{
    color: white;
    font-size: 18px;
}

.nothing{
    color: white;
}

input{
    color: white;
    letter-spacing: .1rem;
}