<div class="container d-flex justify-content-center flex-column align-items-center">

    <div class="main d-flex justify-content-center mt-5">
        <div class="cartao m-2 d-flex hover-shadow">
          <mat-card routerLink='guides'
            class="example-card bg-danger bg-gradient d-flex p-5 flex-column justify-content-around">
            <mat-card-header class="d-flex justify-content-center">
              <!-- <div mat-card-avatar class="example-header-image"><i class="far fa-question-circle a"></i></div> -->
              <mat-card-title class="mb-3 a">How does this application work?</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <hr>
                <p class="mt-4">
                    This is an angular application integrated with a ContentStack platform. To create a guide or report a error, first:
                </p>
                <p>
                    - Go to Guides & Error Mapping Stack on ContentStack
                </p>
                <p>
                    - In the left side, go to Entries
                </p>
                <p>
                    - Click on "+ New Entry" and then choose what you want (Guide or Error).
                </p>
                <p>
                    - Complete the infos and everything is ready! Your entry will appear soon in this application!
                </p><br><br>
                <h3>
                    OBS: You don't need to write a step-by-step on the first moment, your entry could be filled in another moment by another one!
                </h3>
                    
            </mat-card-content>
          </mat-card>
        </div>
    </div>

</div>