/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
p {font-family: 'Roboto', sans-serif;}
html, body { height: 100vh; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url('https://www.wallpapertip.com/wmimgs/172-1725774_red-and-white-waves-abstract-waves-creative-waves.jpg');
    /* background-size: cover; */
    background-size: cover;
}

.mat-form-field-label{
    color:green !important;
  }
  .mat-form-field-underline{
    background-color:white;
  }